<?xml version="1.0"?>

<configuration>

    <configSections>
        
    </configSections>

    <system.web>
        <pages clientIDMode="Static" validateRequest="false" />
        <httpRuntime requestValidationMode="2.0" />
    </system.web>

    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>     
        <rewrite>
            <rules>
                <rule name="extensionless" stopProcessing="true">
                    <match url="(.*)\.aspx$" />
                    <action type="Redirect" url="{R:1}" redirectType="Permanent" />
                </rule>
                <rule name="removeextension" enabled="true">
                    <match url=".*" negate="false" />
                    <conditions>
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
                        <add input="{URL}" pattern="(.*)\.(.*)" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="{R:0}.aspx" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>

</configuration>
